	
<!-- Slider -->
<section class="section-slide">
	<div class="wrap-slick1">
		<div class="slick1">
			<div class="item-slick1" style="background-image: url(assets/images/planaplant10.jpeg);">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
							<span class="ltext-101 cl2 respon2" style="color: white;">
								AIR PURIFIERS
							</span>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1"style="color: white;">
								FRESH FINDS
							</h2>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
							<a href="shop.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick1" style="background-image: url(assets/images/plantslide2.jpg)">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
							<span class="ltext-101 cl2 respon2" style="color: white;">
								SHADE LOVERS
							</span>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1"style="color: white;">
								NEW COLLECTIONS
							</h2>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
							<a href="shop.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick1" style="background-image: url(assets/images/plantslide4.jpg);">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
							<span class="ltext-101 cl2 respon2" style="color: white;">
								GREEN GIANTS
							</span>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1"style="color: white;">
								NEW ARRIVALS
							</h2>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
							<a href="shop.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="assets/images/in10.jpg" alt="IMG-BANNER">

						<a href="/shop" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Indoor Plants 
								</span>

								<span class="block1-info stext-102 trans-04">
									From ₹100.00
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now	
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="assets/images/out11.jpeg" alt="IMG-BANNER">

						<a href="/shop" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Outdoor Plants
								</span>

								<span class="block1-info stext-102 trans-04">
									From ₹500.00
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="assets/images/cer10.webp" alt="IMG-BANNER">

						<a href="/shop" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Ceramic Pots
								</span>

								<span class="block1-info stext-102 trans-04">
									Trending
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-100">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Product Overview
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">

				</div>

	
				<!-- Filter -->
	<div class="dis-none panel-filter w-full p-t-10">
		<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
			<div class="filter-col1 p-r-15 p-b-27">
			
			</div>
	
			<div class="filter-col2 p-r-15 p-b-27">
				
			</div>
	

					

					
					</div>
				</div>
			</div>

			<div class="row isotope-grid">
				<% for (let i = 0; i < getalldata.length; i++) { %>
					<% if (getalldata[i].isListed) { %>
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
							<!-- Block2 -->
							<% for (let j = 0; j < getalldata[i].primaryImage.length; j++) { %>
								<% if (getalldata[i].isListed) { %>
									<div class="block2">
										<div class="block2-pic hov-img0">
											<img src="/admin/uploads/<%= getalldata[i].primaryImage[0].name %>" alt="IMG-PRODUCT">
										
										</div>
			
										<div class="block2-txt flex-w flex-t p-t-14">
											<div class="block2-txt-child1 flex-col-l ">
												<a href="/product?id=<%= getalldata[i]._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
													<%= getalldata[i].title %>
												</a>
			
												<span class="stext-105 cl3">
													Rs<%= getalldata[i].salePrice %>
												</span>
											</div>
			
											<div class="block2-txt-child2 flex-r p-t-3">
											
											</div>
										</div>
									</div>
								<% } %>
							<% } %>
						</div>
					<% } %>
				<% } %>
			</div>
			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				<a href="/shop" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div>
		</div>
	</section>


	<!-- Banner -->
<section class="banners mb-10 ">
       
           
    
	<% if (allBanner.length > 0) { %>

		<% allBanner.forEach(function(banner, index) { %>
			<% if (!banner.is_delete) { %>
				

		<section class="banner-2 section-padding pb-5 " style="width: 100%; margin: 0 auto;">
			<div class="container">
				<div class="banner-img banner-big wow fadeIn animated f-none">
					<img src="/admin/uploads/<%= banner.bannerImage %>" alt="">
					
				</div>
			</div>
        </section>



			<% } %>
		<% }); %>

	<% } else { %>
		<section class="banner-2 section-padding pb-0" style="width: 100%; margin: 0 auto;">
			<div class="container">
				<div class="banner-img banner-big wow fadeIn animated f-none">
					<img src="\admin\uploads\banner3.jpg" alt="">

				</div>
			</div>
        </section>
   
   
	<% } %>







</section>