<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Order List</h2>
    </div>
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <div class="row gx-3">
      </div>
    </header>
    <!-- card-header end// -->
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#ID</th>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Total</th>
              <th scope="col">Status</th>
              <th scope="col">Date</th>
              <th scope="col" class="text-end">Action</th>
            </tr>
          </thead>
          <tbody>
            <% orders.forEach((items)=>{%>

            <tr>
              <td><%= items._id%></td>
              <td><b><%= items.address?.user_name %></b></td>
              <td><%= items.address?.phone %></td>
              <td><%= items.grandTotal%></td>
              <td>
                <span class="badge2 rounded-pill alert-warning"
                  ><%= items.status%></span
                >
              </td>
              <td><%= items.orderDate.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %></td>
              <td class="text-end">
                <a
                  href="/admin/orderdetails/<%=items._id%>"
                  class="btn btn-md rounded font-sm"
                  >Details</a
                >
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
      <!-- table-responsive //end -->
    </div>
    <!-- card-body end// -->
  </div>
  <!-- card end// -->
  <div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
        <% for (let page = 1; page <= totalPages; page++) { %>
          <% if (page === currentPage) { %>
            <li class="page-item active"><span class="page-link"><%= page %></span></li>
          <% } else { %>
            <li class="page-item"><a class="page-link" href="/admin/orders?page=<%= page %>"><%= page %></a></li>
          <% } %>
        <% } %>
        <% if (currentPage < totalPages) { %>
          <li class="page-item">
            <a class="page-link" href="/admin/orders?page=<%= currentPage + 1 %>">
              <i class="material-icons md-chevron_right"></i>
            </a>
          </li>
        <% } %>
      </ul>
    </nav>
  </div>
</section>
<!-- content-main end// -->

<style>
  .badge2 {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid white;
    background-color: grey; 
    color: white; 
    border-radius: 5px;
  }
</style>
